<div>

  <nav class="navbar navbar-expand-sm  bg-light  navbar-light">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand text-danger " href="#">Student Training Application</a>
      </div>
     
      <ul class="nav navbar-nav  ">
        <li><a routerLink="signup"  class="navbar-brand" ><span class="fa fa-fw fa-user "></span> Sign Up</a></li>
        <li><a routerLink="login"  class="navbar-brand" ><span class="fa fa-fw  fa-unlock-alt"></span> Login</a></li>
        <li><a routerLink="gmail"  class="navbar-brand" ><span class="fa fa-fw  fa-unlock-alt"></span> gmail</a></li>
        <li><a routerLink="admin"  class="navbar-brand" ><span class="fa fa-fw  fa-unlock-alt"></span> Admin</a></li>
        <li><a routerLink="serverdata"  class="navbar-brand" ><span class="fa fa-fw  fa-unlock-alt"></span> serverdata</a></li>
      </ul>
    </div>
  </nav>
  
</div>
<router-outlet></router-outlet>