/* You can add global styles to this file, and also import other style files */

.fa{
    font-size: 15px !important;
}

fa fa-edit{
    font-size: 15px !important;
}

nav-item active
{
    font-weight: bold;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
