<p>admin works!</p>
{{message}} 

<div class="row"> 
    <div class="col-md-8" >
<button (click)="checkMessage()">check message</button>

<button (click)= 'getNewData()'>new data</button>

<app-admin-child *ngFor="let i of responseData" [adminD]="i"></app-admin-child>
</div>
<div class="col-md-4">
    <div style="width: 300px; background-color: rgb(226, 208, 107); height: 40px; text-align: center; font-size: 30px;">OUR COURSES</div>
    <div style="width: 300px; background-color: rgb(107, 145, 226); height: 30px;color: whitesmoke;  font-size: 20px;"> ->  REDHAT LINUX | UNIX</div>  
    <div style="width: 300px; background-color: rgb(107, 145, 226); height: 30px; color: whitesmoke; font-size: 20px;"> ->  BIGDATA HADOOP</div> 
    <div style="width: 300px; background-color: rgb(107, 145, 226); height: 30px; color: whitesmoke; font-size: 20px;"> ->  DATA SCIENCE </div> 
    <div style="width: 300px; background-color: rgb(107, 145, 226); height: 30px;color: whitesmoke;  font-size: 20px;"> ->  CLOUD COMPUTING</div>
    <div style="width: 300px; background-color: rgb(107, 145, 226); height: 30px;color: whitesmoke;  font-size: 20px;"> ->  DEVOPS</div>
    <div style="width: 300px; background-color: rgb(107, 145, 226); height: 30px;color: whitesmoke;  font-size: 20px;"> ->  BLOCKCHAIN</div>
    <div style="width: 300px; background-color: rgb(107, 145, 226); height: 30px;color: whitesmoke;  font-size: 20px;"> ->  DATAWARE HOUSING</div>
    <div style="width: 300px; background-color: rgb(107, 145, 226); height: 30px;color: whitesmoke;  font-size: 20px;"> ->  DATABASE ADMIN</div>
    <div style="width: 300px; background-color: rgb(107, 145, 226); height: 30px;color: whitesmoke;  font-size: 20px;"> ->  DATABASE DEVELOPER</div>
    <div style="width: 300px; background-color: rgb(107, 145, 226); height: 30px;color: whitesmoke;  font-size: 20px;"> ->  ORACLE EBS</div>
    <div style="width: 300px; background-color: rgb(107, 145, 226); height: 30px;color: whitesmoke;  font-size: 20px;"> ->  VIRTUALIZATION</div>
    <div style="width: 300px; background-color: rgb(107, 145, 226); height: 30px;color: whitesmoke;  font-size: 20px;"> ->  MIDDLEWARE</div>
    <div style="width: 300px; background-color: rgb(107, 145, 226); height: 30px;color: whitesmoke;  font-size: 20px;"> ->  IT SECURITY</div>
    <div style="width: 300px; background-color: rgb(107, 145, 226); height: 30px;color: whitesmoke;  font-size: 20px;"> ->  IOS & ANDROID</div>
    <div style="width: 300px; background-color: rgb(107, 145, 226); height: 30px;color: whitesmoke;  font-size: 20px;"> ->  SAP</div>
    <div style="width: 300px; background-color: rgb(107, 145, 226); height: 30px;color: whitesmoke;  font-size: 20px;"> ->  SOFTWARE TESTING</div>
    <div style="width: 300px; background-color: rgb(107, 145, 226); height: 30px;color: whitesmoke;  font-size: 20px;"> ->  WINDOWS</div>

</div>

</div>
